ol li {
  background-color: yellow;
}

ol li:nth-child(2n) {
  color: green;
}

ol li:nth-child(2n + 1) {
  text-transform: uppercase;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-size: 40px;
  border: 1px solid black;
}

#linguagens li:nth-child(-n + 3) {
  color: blue;
}

.java {
  background-color: pink;
}

#aliados li:hover {
  font-weight: bold;
}

#stackoverflow:hover {
  color: orange;
}

#w3schools:hover {
  color: green;
}

#mdn:hover {
  color: black;
}

#devdocs:hover {
  color: yellow;
}

#trybe:hover {
  color: green;
}
