.form-container {
  display: flex;
  margin: 50px;
  justify-content: center;
}

form,
fieldset {
  display: flex;
  flex-direction: column;
  max-width: 756px;
}

.input-field {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.input-field label {
  width: 80px;
}

.input-field input {
  flex: 1;
  height: 40px;
}

input[name="name"] {
  text-transform: uppercase;
}

.combobox {
  margin: 20px 0;
}
