body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  padding: 0 20px;
  margin: 15px 0;
}

h2 {
  margin: 30px 30px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

h3 {
  background-color: #fc0
}

nav {
  position: absolute;
  right: 0;
  top: 27px;
}

main {
  display: flex;
}

article {
  width: 75%;
  padding: 0;
  margin-right: 10px;
}

section {
  padding: 0 20px 20px;
  border-top: 2px solid #fc0;
  border-right: 2px solid #fc0;
}

aside {
  width: 25%;
  padding: 88px 20px 20px 20px;
  /* border-left: 2px solid #fc0; */
}

p {
  margin: 0;
}

header, nav {
  display: inline-block;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

footer p {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}

#classificação {
  display: inline-block;
  vertical-align: middle;
}

#section-classif {
  padding: 18.72px 20px 20px;;
}

th, td {
  text-align: left;
  padding: 8px 30px 8px 10px;
}

th {
  background-color: #fc0;
}

#nome-científico {
  font-style: italic;
}

#cabecalho {
  text-align: justify;
  height: 67;
  border-bottom: 5px solid #fc0;
  background-color:black;
  color: white
}

#titulo-classif {
  margin: 0 0 18.72px;
}

#foto-stomatopoda {
  height: 293.72px;
  width: 673px;
  padding-left: 50px;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

#stomatopoda {
  height: 293.72px;
  width: 673px;
  object-fit: cover;
}

#olhos {
  height: 210px;
  float: left;
  padding: 0 20px 0 0;
}

#soco {
  height: 228px;
  float: right;
  padding: 0 0 0 20px;
}

#menu {
  text-align: center;
  padding: 0 100px 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#visão {
  text-align: right;
}

#menu li {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  background-image: linear-gradient(#fc0,#fc0);
  transition: background-size .125s ease-in;
  background-repeat: no-repeat;
  border-bottom: 2px solid #fc0;
  color: white;
  background-position: 0 100%;
  background-size: 100% 0;
}

a:hover {
  background-size: 100% 100%;
  color: black;
}

#link-video {
  color: black;
  display:block;
  margin: 0 0 18.72px;
  text-align: center;
}

#video {
  max-height:100%;
  max-width:100%;
  display:block
}