footer {
  border: 1px solid black;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif;
}

h1 {
  padding: 0 20px;
  margin: 15px 0;
}

h2 {
  margin: 20px 20px;
}

nav {
  position: absolute;
  right: 0;
  top: 27px;
}

main {
  display: flex;
}

article {
  width: 75%;
  padding: 0;
  margin-right: 10px;
}

section {
  padding: 0 20px 20px;
  border-top: 2px solid #fc0;
  border-right: 2px solid #fc0;
}

aside {
  width: 25%;
  padding: 20px;
  /* border-left: 2px solid #fc0; */
}

p {
  margin: 0;
}

header, nav {
  display: inline-block;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#classificação {
  display: inline-block;
  vertical-align: middle;
}

#section-classif {
  padding: 18.72px 20px 20px;;
}

th, td {
  text-align: left;
  padding: 5px 30px 5px 10px;
}

th {
  background-color: #fc0;
}

#nome-científico {
  font-style: italic;
}

#cabecalho {
  text-align: justify;
  height: 67;
  border-bottom: 5px solid #fc0;
}

#titulo-classif {
  margin: 0 0 18.72px;
}

#foto-stomatopoda {
  height: 275.72px;
  width: 655px;
  padding-left: 50px;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

#stomatopoda {
  height: 275.72px;
  width: 655px;
  object-fit: cover;
}

#olhos {
  height: 260px;
  float: left;
  padding: 0 20px 0 0;
}

#soco {
  height: 350px;
  float: right;
  padding: 0 0 0 20px;
}

#menu {
  text-align: center;
  padding: 0 100px 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#menu li {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  background-image: linear-gradient(#fc0,#fc0);
  transition: background-size .125s ease-in;
  background-repeat: no-repeat;
  border-bottom: 2px solid #fc0;
  color: black;
  background-position: 0 100%;
  background-size: 100% 0;
}

a:hover {
  background-size: 100% 100%;
}
